# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
.env

# Data
data/
*.csv
*.npy

# Models
models/
*.keras
*.pkl
*.h5

# Reports & logs
reports/
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/